body {
	margin: 0 auto;
}

.messages {
	width: 100%;
	height: 30px;
	position: fixed;
	margin: 0 auto;
	z-index: 999999;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
}
.loadMobile{
	display: none;
	margin: 10%;
}

.loadMobile img{
width: 10em;
display: block;
margin: auto;
}
.loadMobile h3{
	text-align: center;
	color: rgb(202, 202, 202);
	text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #110A0A /*{a-page-shadow-color}*/;
}

.danger{
		background-color: #CC4646;
}
.alert{
	background-color: #333;
}

.messages p {
	text-align: left;
	font-family: sans-serif;
	font-size: 10px;
	color: #fff;
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.2em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#login,#header-login {
	background-color: #022b5b;
	margin: 0 auto;
	border: 0px;
}

#footer-fixed {
	text-align: center;
	border: 0px;
	background-color: #dbdad8;
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index: 9999;
}

.back-login img {
	margin: 0 auto;
	width: 100%;
	height: 300px;
}

.logo,.bar,.top-login {
	margin: 0 auto;
	width: 100%;
	height: auto;
	z-index: 9999;
	position: absolute;
}

.top-login {
	margin: 10% auto;
	text-align: center;
}

.top-login h5 {
	color: #BDBDBD;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px -webkit-margin-start:  0px;
	-webkit-margin-end: 0px;
}

.part1 {
	color: white;
}

.part2 {
	color: #e06c05;
	border: 0px;
}

.part1,.part2,.top-login h5 {
	font-family: sans-serif;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
}

.logo {
	bottom: -15px;
}

.logo img {
	min-width: 100px;
	height: auto;
	display: block;
	margin: 0 auto;
}

#content-login form,#content-login form label {
	border-width: 0px;
	color: white;
	position: relative;
}

#content-login form {
	max-width: 250px;
	color: white;
	margin: auto;
}

#entrar {
	background-color: #e06c05;
	border: 0px;
	color: #ffffff;
}

.bar {
	bottom: -9px;
	position: absolute;
}

.bar a {
	background: transparent;
	margin: auto;
	border-color: transparent;
	margin: 0 auto;
}

/*Páginas*/
#header-menu {
	background-color: #001a36;
	border: 0px;
	display: block;
	position: relative;
	z-index: 1;
	width: 100%
}

.botoes-menu li img {
	width: 50px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.troca_back {
	
}

.ui-header .ui-title,.ui-footer .ui-title {
	font-size: 1em;
	min-height: 1.1em;
	text-align: center;
	display: block;
	margin: 0 7%;
}

.titulo li {
	list-style: none;
	float: left;
	padding: 0 5px 5px;
}

.titulo li img {
	width: 15px;
}

.header-pages {
	
}
/*Perfil*/
.content-unaspmobile {
	
}

.indentify ul li img {
	max-width: 6em;
	width: 177px;
	height: 212px;
	margin: 0;
	padding-right: 30px;
}

.indentify ul li h3,.indentify ul li p {
	padding-left: 15px;
}

.ui-listview>.ui-li-static.ui-li-has-thumb {
	min-height: 2.625em;
	padding-left: 11.25em;
}

.ui-listview>.ui-li-static {
	padding: 3.7em 1em;
}

.ui-listview .ui-li-has-thumb>img:first-child {
	position: absolute;
	left: 0;
	top: 0;
	max-height: 11em;
	max-width: 15em;
}

.option {
	margin: 30px;
}

.ui-page-theme-a .ui-btn:hover,html .ui-bar-a .ui-btn:hover,html .ui-body-a .ui-btn:hover,html body .ui-group-theme-a .ui-btn:hover,html head+body .ui-btn.ui-btn-a:hover
	{
	background-color: rgba(237, 237, 237, 0) /*{a-bhover-background-color}*/;
	border-color: rgba(221, 221, 221, 0) /*{a-bhover-border}*/;
}

.ui-page-theme-a .ui-btn,html .ui-bar-a .ui-btn,html .ui-body-a .ui-btn,html body .ui-group-theme-a .ui-btn,html head+body .ui-btn.ui-btn-a
	{
	background-color: rgba(237, 237, 237, 0) /*{a-bhover-background-color}*/;
	border-color: rgba(221, 221, 221, 0) /*{a-bhover-border}*/;
}

.notas-lista-cursos li {
	float: left;
	padding: 12px;
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and
	(orientation: portrait) {
	#content-login {
		margin-top: 5%;
	}
	.back-login img {
		height: 520px;
	}
	.logo img {
		width: 400px;
	}
	.bar a img {
		z-index: 9999;
		width: 140px;
		height: 140px;
	}
	.top-login h5 {
		font-size: 20px;
	}
	.part1,.part2 {
		font-family: sans-serif;
		font-size: 50px;
	}
}

.mostra_detalhes_curso {
	width: 99%;
	height: 100%;
}

.mostra_detalhes_curso ul li {
	list-style: none;
	float: left;
}

.campo_nota {
	background-color: #dbdad8;
	text-align: center;
	border-radius: 5px;
	width: 20%;
}

.campo_nota_titulo {
	width: 60%;
	text-align: left;
}

/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and
	(orientation: landscape) {
	.top-login {
		margin: 3% auto;
	}
	#content-login {
		margin-top: 1%;
	}
	.back-login img {
		height: 360px;
	}
	.logo img {
		width: 300px;
	}
	.bar a img {
		width: 130px;
		height: 130px;
	}
	.top-login h5 {
		font-size: 20px;
	}
	.part1,.part2 {
		font-family: sans-serif;
		font-size: 40px;
	}
}

@media only screen and (width: 480px) and (width: 800px) and
	(orientation: portrait) {
	#content-login {
		margin-top: 15%;
	}
	.back-login img {
		height: 400px;
	}
	.logo img {
		width: 300px;
	}
	.bar a img {
		width: 70px;
		height: 70px;
	}
	.top-login h5 {
		font-size: 25px;
	}
	.part1,.part2 {
		font-family: sans-serif;
		font-size: 50px;
	}
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and
	(orientation: landscape) {
	.top-login {
		margin: 3% auto;
	}
	#content-login {
		margin-top: 1%;
	}
	.back-login img {
		height: 210px;
	}
	.logo img {
		width: 180px;
	}
	.top-login h5 {
		font-size: 15px;
	}
	.part1,.part2 {
		font-family: sans-serif;
		font-size: 25px;
	}
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	.top-login {
		margin: 3% auto;
	}
	#content-login {
		margin-top: 1%;
	}
	.back-login img {
		height: 190px;
	}
	.logo img {
		width: 154px;
	}
	.bar a img {
		width: 60px;
		height: 60px;
	}
	.top-login h5 {
		font-size: 15px;
	}
	.part1,.part2 {
		font-family: sans-serif;
		font-size: 30px;
	}
	#form {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.effect {
	top: -1px;
	position: absolute;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	-ms-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
	width: 65px;
	height: 7px;
	background: #e06c05;
	left: 20%;
}

.
.botoes-menu li a img:nth-child(1):hover ~ .effect {
	left: 12.5%;
}

.nav a:nth-child(2):hover ~ .effect {
	left: 37.5%;
}

.nav a:nth-child(3):hover ~ .effect {
	left: 62.5%;
}

.nav a:nth-child(4):hover ~ .effect {
	left: 87.5%;
}